<div *ngFor="let image of images; let i = index" class="display-inline card-size card-styling">
  <div (click)="previewImage(i)">
    <img class="image-fit" src="{{ image.content }}" />
  </div>
</div>

<div class="display-inline card-size card-styling">
  <input
    #imageInput
    #file
    type="file"
    accept="image/*"
    class="image-input"
    multiple
    (change)="addImage($event)"
  />
  <button
    mat-button
    class="size-to-parent icon-color"
    matTooltip="Add"
    (click)="imageInput.click()"
  >
    <mat-icon> add_photo_alternate </mat-icon>
  </button>
</div>
