<div class="questionaire">
  <div class="question">
    <div class="question__heading">
      <div class="question__q">
        <div class="question__answers">
          <div class="answer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="previous">Back</button>
    <button class="next">Next</button>
  </div>
  <div class="progress__bar">
    <div class="progress__bar--slider"></div>
  </div>
  <div class="progress_actions">
    <div class="p-actions-left">
      <span>Step</span>
      <span>Out of</span>
      <span></span>
    </div>
    <div class="p-actions-right"></div>
  </div>
</div>

<span>Here</span>