<mat-stepper #stepper>
  <mat-step [stepControl]="userProfileForm">
    <form [formGroup]="userProfileForm">
      <ng-template matStepLabel>Step 1</ng-template>
      <ng-template matStepContent>
        <p>I am a...</p>
        <mat-button-toggle-group formControlName="gender" [vertical]="true">
          <mat-button-toggle value="{{ genderList.woman }}"
            >Woman</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.man }}"
            >Man</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.agender }}"
            >Agender</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.androgynous }}"
            >Androgynous</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.bigender }}"
            >Bigender</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.cisman }}"
            >Cis Man</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.ciswoman }}"
            >Cis Woman</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.genderfluid }}"
            >Genderfluid</mat-button-toggle
          >
        </mat-button-toggle-group>
      </ng-template>
    </form>
  </mat-step>
  <mat-step [stepControl]="userProfileForm">
    <form [formGroup]="userProfileForm">
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>I want to date...</p>
        <mat-button-toggle-group
          formControlName="sexualOrientation"
          [vertical]="true"
        >
          <mat-button-toggle value="{{ genderList.woman }}"
            >Woman</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.man }}"
            >Man</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.agender }}"
            >Agender</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.androgynous }}"
            >Androgynous</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.bigender }}"
            >Bigender</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.cisman }}"
            >Cis Man</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.ciswoman }}"
            >Cis Woman</mat-button-toggle
          >
          <mat-button-toggle value="{{ genderList.genderfluid }}"
            >Genderfluid</mat-button-toggle
          >
        </mat-button-toggle-group>
      </ng-template>
    </form>
  </mat-step>
  <mat-step [stepControl]="userProfileForm">
    <form [formGroup]="userProfileForm">
      <ng-template matStepLabel>Step 3</ng-template>
      <ng-template matStepContent>
        <p>Tell us about yourself?</p>
        <mat-form-field appearance="fill">
          <mat-label>Biography</mat-label>
          <textarea matInput formControlName="biography"></textarea>
        </mat-form-field>
      </ng-template>
    </form>
  </mat-step>
  <mat-step [stepControl]="userProfileForm">
    <form [formGroup]="userProfileForm">
      <ng-template matStepLabel>Step 4</ng-template>
      <ng-template matStepContent>
        <p>List of interests?</p>
        <mat-form-field appearance="fill">
          <mat-chip-list #chipList formControlName="listOfInterest">
            <mat-chip
              *ngFor="let interest of userProfileForm.get('listOfInterest')!.value"
              (removed)="onRemove(interest)"
            >
              {{ interest.name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="More..."
              [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="onAdd($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </ng-template>
    </form>
  </mat-step>

  <mat-step [stepControl]="userProfileForm">
    <form [formGroup]="userProfileForm">
      <ng-template matStepLabel>Step 5</ng-template>
      <ng-template matStepContent>
        <p>Pictures</p>
        <images-input
          (imageAdded)="onImageAdded($event)"
          (imageRemoved)="onImageRemoved($event)"
        ></images-input>
      </ng-template>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <ng-template matStepContent>
      <p>You are now done.</p>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Submit
      </button>
    </ng-template>
  </mat-step>
</mat-stepper>
<div class="buttons-container">
  <button
    mat-raised-button
    [disabled]="stepper.selectedIndex === 0"
    color="accent"
    (click)="stepper.previous()"
  >
    Back
  </button>
  <button
    mat-raised-button
    [disabled]="stepper.selectedIndex === 5"
    color="primary"
    (click)="stepper.next()"
  >
    Next
  </button>
</div>
