// :root {
//   --color-light: #f5f5fa;
//   --color-light-1: #e3e3e3;
//   --color-light-2: #f6f6fa;
//   --color-black: #1b1d2a;
//   --color-grey: #e1e1e2;
//   --color-grey-1: #bababa;
//   --color-light-blue: #506ef9;
//   --default-shadow: rgba(138,138,138, 0,1);
//   font-family: 'Times New Roman', Times, serif;
// }

:host {
  padding: 50px;
  position: absolute;
  width: 100%;
  border-radius: 30px;
  // box-shadow: 0 15px 10px black;
}

.questionaire {
  display: grid;
  grid-template-rows: repeat(3, min-content);

  grid-row-gap: 20px;

}