<div class="container">
  <div class="header">
    <p class="title">{{images[images.activeIndex].name}}</p>
  </div>
  <div class="body">
    <img class="image-fit" src="{{images[images.activeindex].content}}">
  </div>
  <div class="footer">
    <button
      mat-icon-button
    >
      <mat-icon>first_page</mat-icon>
    </button>
    <button
      mat-icon-button
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-icon-button
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-icon-button
    >
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>